{{ form_start(form, {'id':'jQueryValidationForm', 'novalidate':'novalidate'}) }}
    {{ form_widget(form) }}
    <button class="btn btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
