{% extends 'base-station.html.twig' %}


{% block body %}
<div class="row card p-4">
    <div class="row mx-auto card-body">
    <h1 class="text-center text-uppercase">Mise à jour Fournisseur</h1>

    {{ include('station-dashboard/fournisseur/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_fournisseur_index') }}">Retour à la liste</a>

    {{ include('station-dashboard/fournisseur/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
