{% extends 'base-station.html.twig' %}


{% block body %}
<div class="row card p-4">
    <div class="row mx-auto card-body">
    <h1 class="text-uppercase text-center">Nouveau achat de carburant</h1>

    {{ include('station-dashboard/buy_carburant/_form.html.twig') }}

    <a href="{{ path('app_buy_carburant_index') }}">Retour a la liste</a>
    </div>
</div>
{% endblock %}
