{{ form_start(form) }}
    <div class="row card p-4 mx-auto">
        <div class="row mx-auto card-body">
            <div class="col-md-6 mx-auto">
                {{ form_row(form.password) }}
            </div>
        </div>


        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
