{% extends 'base-station.html.twig' %}


{% block body %}
<div class="row card p-4">
    <div class="row mx-auto card-body">
    <h1 class="text-center text-uppercase">Mise à jour Personnel</h1>
        {% if app.request.get('_route') == "app_station_employee_edit_password" %}
            {{ include('station-dashboard/employe_management/_form_password.html.twig', {'button_label': 'Mise à jour'}) }}
        {% else %}
            {{ include('station-dashboard/employe_management/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        {% endif %}

    <a href="{{ path('app_station_employee_index') }}">Retour à la liste</a>

    {{ include('station-dashboard/employe_management/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
