{% extends "base-station.html.twig" %}


{% block body %}
<div class="row card p-4">
    <div class="row mx-auto card-body">
    <h1 class="text-center text-uppercase">Ajouter un nouvel employé</h1>

    {{ include('station-dashboard/employe_management/_form.html.twig') }}

    <a href="{{ path('app_station_employee_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
